.textColor{
    color:black;
}
.btnAlignment{
    text-align: end;
}
.bgStyle{
    background-color: #efe9e9;
}
.btnStyle{
    background-color: #094C59;
    color:white;
}
h4{
    font-size: 1.4rem;
    margin-top:1rem;
}
